<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Farbod Moayeri">
        <link rel="stylesheet" href="/css/main.css" />
        <title>About</title>
    </head>
    <body class="grid grid-rows-[auto,1fr,auto] min-h-screen">
        <header>
            <div class="bg-gray-800 text-white p-4">
                <nav class="container mx-auto flex justify-between">
                    <a href="/" class="text-2xl font-bold">Lego Collection</a>
                    <div class="space-x-4">
                        <a href="/about" class="hover:text-gray-400">About</a>
                        <div class="dropdown dropdown-hover">
                            <button class="btn hover:text-gray-400 focus:text-gray-400">Themes</button>
                            <div class="dropdown-content mt-2 shadow-lg w-70 bg-gray-800">
                                <ul class="space-y-2">
                                    <li><a href="/lego/sets?theme=Town" class="block px-4 py-2 hover:bg-gray-700">Town</a></li>
                                    <li><a href="/lego/sets?theme=Jumbo Bricks" class="block px-4 py-2 hover:bg-gray-700">Jumbo Bricks</a></li>
                                    <li><a href="/lego/sets?theme=Books" class="block px-4 py-2 hover:bg-gray-700">Books</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <main>    
            <div class="hero min-h-screen bg-base-200">
                <div class="hero-content flex-col lg:flex-row">
                  <img src="/images/404Page.jpg" class="max-w-sm rounded-lg" />
                  <div>
                    <h1 class="text-5xl font-bold">404...That's an error.</h1>
                    <p class="py-6">The requested page could not be found.</p>
                  </div>
                </div>
              </div>
        </main>
        <footer class="bg-gray-800 text-white p-4 mt-4 justify-bottom">
            <div class="container mx-auto text-center">
                <p>&copy; 2023 Lego Collection. All rights reserved.</p>
            </div>
        </footer>
    </body>
</html>
