<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Farbod Moayeri">
        <link rel="stylesheet" href="../public/css/main.css" />
        <title>About</title>
    </head>
    <body></body>

        <header>
            <nav class="navbar bg-base-100">
                <a href="/" class="logo">Lego Collection</a>
                <div class="menu-toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="nav-list">
                    <li><a href="/about" class="nav-link">About</a></li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Theme</a>
                        <div class="dropdown">
                            <a href="/lego/sets?theme=City">City</a>
                            <a href="/lego/sets?theme=StarWars">Star Wars</a>
                            <a href="/lego/sets?theme=Ninjago">Ninjago</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>

        <main>    
            <div class="hero min-h-screen bg-base-200">
                <div class="hero-content flex-col lg:flex-row">
                  <img src="/images/stock/photo-1635805737707-575885ab0820.jpg" class="max-w-sm rounded-lg shadow-2xl" />
                  <div>
                    <h1 class="text-5xl font-bold">404 Error</h1>
                    <p class="py-6">Page not found.</p>
                  </div>
                </div>
              </div>
        </main>
        <footer>

        </footer>
    </body>
</html>
