<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Farbod Moayeri">
        <link rel="stylesheet" href="../public/css/main.css" />
        <title>About</title>
    </head>
    <body></body>

        <header>
            <nav class="navbar bg-base-100">
                <a href="/" class="logo">Lego Collection</a>
                <div class="menu-toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="nav-list">
                    <li><a href="/about" class="nav-link">About</a></li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Theme</a>
                        <div class="dropdown">
                            <a href="/lego/sets?theme=City">City</a>
                            <a href="/lego/sets?theme=StarWars">Star Wars</a>
                            <a href="/lego/sets?theme=Ninjago">Ninjago</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>

        <main>    
            
            <div class="container mx-auto">

                <section class="hero bg-blue-500 text-white p-10 text-center mb-10">
                    <h1 class="text-4xl mb-4">About</h1>
                    <p class="mb-6">All about me and my journey</p>
                </section>
        
                <section class="grid grid-cols-1 md:grid-cols-2 gap-8 p-10">
                    <div class="col-span-1">
                        <img src="your_img_url.jpg" alt="Your Name" class="rounded-lg shadow-md w-full object-cover h-96">
                    </div>
                    <div class="col-span-1 flex flex-col justify-center">
                        <h2 class="text-3xl mb-4">Hello, I'm [Your Name]</h2>
                        <p class="mb-4">I'm passionate about [Your Interests]. Currently exploring [Courses/Fields]. In my free time, I enjoy [Hobbies]. Join me as I explore, learn, and share my journey through [Your Topic/Area of Interest].</p>
                        <a href="[Your_Link]" class="btn bg-blue-500 text-white py-2 px-4 rounded">Connect With Me</a>
                    </div>
                </section>
        
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>
