<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Farbod Moayeri">
    <link rel="stylesheet" href="/css/main.css" />
    <title>Login</title>
</head>
<body>
    <header>
        <%- include('partials/navbar', {page: '/login' }) %>
    </header>

    <main>
        <div class="container mx-auto p-4">
            <div class="flex justify-center">
                <div class="w-full max-w-md">
                    <div class="bg-blue-500 text-white p-10 text-center mb-10 rounded-lg">
                        <h1 class="text-4xl mb-4">Login</h1>
                        <p>Please provide your credentials below</p>
                    </div>

                    <form action="/login" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                        <div class="mb-4">
                            <label for="userName" class="block text-gray-700 text-sm font-bold mb-2">Username:</label>
                            <input type="text" id="userName" name="userName" placeholder="User Name" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        </div>

                        <div class="mb-4">
                            <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password:</label>
                            <input type="password" id="password" name="password" placeholder="Password" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        </div>

                        <div class="flex items-center justify-between">
                            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Login</button>
                        </div>
                    </form>

                    <% if(errorMessage) { %>
                        <div class="alert alert-error">
                            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                            <span><%= errorMessage %></span>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </main>

    <%- include('partials/footer') %>
</body>
</html>
